html {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: aliceblue;
}

body {
    max-width: 500 px;
    margin: 0 auto;
    background-image: url("https://coolbackgrounds.io/images/unsplash/josh-bean-medium-9501ba9f.jpg");
    background-size: 1500px 930px;
}

input {
    margin-top: 25px;
    padding-top: 25px;
    width: 500px;
    height: 60px;
    font-size: 35px;
    border: 0;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(77, 75, 75);
    color: aliceblue;
  }

  ::-webkit-input-placeholder {
      color: rgb(180, 184, 187);
  }


  input:focus {
    outline: none;
  }
  
  li {
    text-align: left;
    font-size: 40px;
    list-style: square;
    list-style-position: inside;
    margin-left: 35%;
  }
  
  li:hover {
    text-decoration: line-through;
  }